@model WebMovie.Models.KHACHHANG

@{
    ViewBag.Title = "Xoakh";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="form-horizontal">
    <h2>Quản lý người dùng / Xóa người dùng</h2>
</div>

<div class="container" style="padding-top:60px;">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-6 card border rounded-4">
            <h2 class="text-center">Chi tiết quản trị viên</h2>
            <hr />

            <dl class="row" style="margin-left:120px;">
                <dt class="col-sm-3">quyền:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.QUYEN.TenQuyen)</dd>
                <dt class="col-sm-3">Tên quản trị:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Hoten)</dd>
                <dt class="col-sm-3">tài khoản:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Taikhoan)</dd>
                <dt class="col-sm-3">mật khẩu:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Matkhau) (Đẫ mã hóa)</dd>
                <dt class="col-sm-3">số điện thoại:</dt>
                <dd class="col-sm-9"> @Html.DisplayFor(model => model.DienthoaiKh) </dd>
                <dt class="col-sm-3">Email:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Email)</dd>
            </dl>


            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="text-center">
                    <input type="submit" value="Delete" class="btn btn-danger btn-xs" /> |
                    @Html.ActionLink("Back to page", "QLKhachhang", null, new { @class = "btn btn-primary btn-xs" })
                </div>
            }
        </div>
    </div>
</div>
<style>
    dt {
        font-weight: bold;
    }

    hr {
        border-color: #999999;
    }
</style>
