
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="x_panel">
        <div class="x_content">
            <div class="col-md-12 col-sm-12  text-center">

            </div>

            <div class="clearfix"></div>



            <div class="col-md-4 col-sm-4  profile_details">
                <div class="well profile_view">
                    <div class="col-sm-12" style=" width: 235.58px; height: 148.75px;">
                        <h4 class="brief"><i>Tổng hợp</i></h4>
                        <div class="left col-sm-7" style="width:auto;">
                            <h1>@ViewBag.khachhang</h1>
                            <h2>số lượng người dùng</h2>


                        </div>
                        <div class="right col-sm-5 text-center">

                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-4 col-sm-4  profile_details">
                <div class="well profile_view">
                    <div class="col-sm-12" style=" width: 235.58px; height: 148.75px;">
                        <h4 class="brief"><i>Tổng hợp</i></h4>
                        <div class="left col-sm-7" style="width:auto;">
                            <h1>@ViewBag.Admin</h1>
                            <h2 style="">số lượng nhân viên</h2>


                        </div>
                        <div class="right col-sm-5 text-center">

                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-4 col-sm-4  profile_details">
                <div class="well profile_view">
                    <div class="col-sm-12" style=" width: 235.58px; height: 148.75px;">
                        <h4 class="brief"><i>Tổng hợp</i></h4>
                        <div class="left col-sm-7" style="width:auto">
                            <h1>@ViewBag.phim</h1>
                            <h2 > Số lượng phim</h2>


                        </div>
                        <div class="right col-sm-5 text-center">

                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-4 col-sm-4  profile_details">
                <div class="well profile_view">
                    <div class="col-sm-12" style=" width: 235.58px; height: 148.75px;">
                        <h4 class="brief"><i>Tổng hợp</i></h4>
                        <div class="left col-sm-7">
                            <h1> @ViewBag.theloai</h1>
                            <h2 ">Thể loại</h2>


                        </div>
                        <div class="right col-sm-5 text-center">

                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4 col-sm-4  profile_details">
                <div class="well profile_view">
                    <div class="col-sm-12" style=" width: 235.58px; height: 148.75px;">
                        <h4 class="brief"><i>Tổng hợp</i></h4>
                        <div class="left col-sm-7">
                            <h1>@ViewBag.quocgia</h1>
                            <h2">Quốc gia</h2>


                        </div>
                        <div class="right col-sm-5 text-center">

                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4 col-sm-4  profile_details">
                <div class="well profile_view">
                    <div class="col-sm-12" style=" width: 235.58px; height: 148.75px;">
                        <h4 class="brief"><i>Tổng hợp</i></h4>
                        <div class="left col-sm-7" style="width:auto;" >
                            <h1>@ViewBag.nam </h1>
                            <h2 >Số lượng Năm sản xuất</h2>
                        </div>
     
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>