@using PagedList;
@using PagedList.Mvc;
@using WebMovie.Models;
@model PagedList.PagedList<WebMovie.Models.PHIM>
@{
    ViewBag.Title = "phimloai";
    Layout = null;
}

<div class="title-hd">
    <h2 class="text">@ViewBag.Theloai</h2>
@*    @foreach (var item in Model)
    {
    <a href=""@Url.Action("SPTheotheloai", "Movie", new { id = item.MaTL }) class="viewall">Xem tất cả <i class="ion-ios-arrow-right"></i></a>
    }*@
</div>
<div class="tabs" style="margin-bottom: 0px;">
    <ul class="tab-links">
        <li class="active"><p>Có thể bạn nên xem</p></li>
    </ul>
    <div class="tab-content">
        <div class="tab active">
            <div class="row">
                <div class="slick-multiItem">
                    @foreach (var item in Model)
                    {
                        <div class="slide-it">
                            <div class="movie-item">
                                <div class="mv-img">
                                    <img src="~/image/@item.Anhbia" alt="@item.TenPhim" width="185" height="284">
                                </div>

                                <div class="hvr-inner" style=" margin-top: 70px; background-color: #ffffff00 ">
                                    <a href="@Url.Action("Chitiet", "Movie", new { id = item.Maphim })">
                                        <img src="~/image/iconplay12.png" />
                                    </a>
                                </div>
                                <div class="title-in">
                                    <h6><a href="">@item.TenPhim</a></h6>
                                    @*<p><i class="ion-android-star"></i><span>10.00</span> /10</p>*@
                               </div>
                            </div>                         
                        </div>
                    }
                    </div>
            </div>
        </div>
    </div>
</div>
<style>
    .text {
        font-size: 28px;

    }
</style>