@using PagedList;
@using PagedList.Mvc;
@using WebMovie.Models;
@model PagedList.PagedList<WebMovie.Models.PHIM>

@{
    ViewBag.Title = "SPTheotheloai";

}
<div class="hero common-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <h1>Phim theo thể loại</h1>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-single">
        <div class="container">
            <div class="row ipad-width">

                <div class="col-md-12 col-sm-12 col-xs-12">           
                        <div class="topbar-filter">
                            <p> phim thể loại @ViewBag.theloai  (@ViewBag.soluong)</p>
                        </div>
                    <div class="flex-wrap-movielist">
                        @foreach (var item in Model)
                        {
                            <div class="movie-item-style-2 movie-item-style-1">
                                <img src="@Url.Content("/image/"+ item.Anhbia)" alt="">
                                <div class="hvr-inner" style="margin: 80px 40px; background-color: #ffffff00 ">
                                    <a href="@Url.Action("Chitiet", "Movie", new {id = item.Maphim})">
                                        <img src="~/image/iconplay12.png" />

                                    </a>
                                </div>
                                <div class="mv-item-infor">
                                    <h6><a href="@Url.Action("Chitiet", "Movie", new {id = item.Maphim})"> @item.TenPhim</a></h6>

                                    @* <p class="rate"><i class="ion-android-star"></i><span>10.00</span> /10</p>*@
                                </div>
                            </div>
                        }
                    </div>

                </div>

            </div>
        </div>
    </div>     
<div class="page-single">
    <div class="container">
        <div class="row ipad-width">        
                <div class="d-flex justify-content-center">
                    @Html.PagedListPager(Model, page => Url.Action("SPTheotheloai", new { page = page }), new PagedListRenderOptions { LiElementClasses = new string[] { "page-item btn btn-sm btn-primary mx-1" } })
                </div>
        </div>
    </div>
</div>